.logo-text {
    color: #000;
    font-size: 18px;
    display: inline-block;
    position: fixed;
    top: 3px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
}